Yasso/
Modelling_CF_from_Biomass_fraction/*.txt
MELASoil/WorkFiles/*.dat
SpaFHyPeat_CP/Puhdasjarvi_data_53/
SpaFHyPeat_CP/Puhdasjarvi_data_52/
SpaFHyPeat_CP/Puhdasjarvi_data_51/
SpaFHyPeat_CP/results/
SpaFHyPeat_CP/MELA_Data/